* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#lampada {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 2rem;
  width: 80px;
}
